.container { 
    font-family: arial; 
    color:#FFF;
}

header, nav, section, aside, footer{ 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    padding:10px;
}

header { 
    background-color: #1abc9c; 
}

nav { 
    background-color: #3498db; 
}

section { 
    background-color: #9b59b6; 
}

aside { 
    background-color: #e67e22; 
}

footer { 
    background-color: #e74c3c; 
}

/**************    ************/

.container {
    font-family: arial;
    color: #FFF;
    grid-template-columns: 50% 50%;
    display: grid;
}

.container2 {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 180% 180% 180%;
}




















