body {
    margin: 0;
    padding: 0;
}


nav div {
    display: flex;
    padding: 2%;
    background-image: url(assets/images/baniere-star.jpg);
}

#logo {
    width: 7%;
}


ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00da67;
    margin: 0;
    font-size: 1.5em;
}

li.accueil {
    background: #37b600;
    padding: 1%;
}



.logo2 {
    width: 7%;
}


.image {
    width: 10%;
}


.middle {
    
}












