body {
    margin: 0;
    padding: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000029;
}

#logo {
    width: 14%;
    padding-left: 10px;
}

.icon {
    display: none;
}

nav a {
    text-decoration: none;
    float: right;
    font-size: 1.3em;
    color: #000;
    margin-right: 2%;
}

/**********  CARROUSEL **********/

main img {
    width: 100%;
    padding: 0;
}


/******* SLIDE NOUVEAUTE ************/

#new {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
    margin: 2% 1% 2% 3%;
}

.slide {
    display: flex;
    text-align: center;
    background-color: #f7f7f7;
}

.slide img {
    width: 57%;
    margin: 10px 0px;
    padding: 7px 7px;
    background: #fff;
    border-radius: 10px;
}




/*********** FOOTER ********/

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 4%;
    margin-top: 30px;
}


@media (max-width: 780px) {

    .resp {
        display: none;
    }

    #new {
        font-size: 1em;
    }

    .icon {
        display: block;
        font-size: 1.7em;
        margin-right: 5%;
    }

    .none {
        display: none;
    }

}

